- name: Address resolution
  hosts: all
  become: yes
  tasks:
    - name: Add IP address of all hosts to all hosts
      lineinfile:
        dest: /etc/hosts
        line: "{{ hostvars[item].ansible_host }} {{ hostvars[item].inventory_hostname }} {{ hostvars[item].inventory_hostname_short }}"
        state: present
      with_items: "{{ groups.all }}"

- hosts: contrail
  tasks:
    - name: Prepare contrail
      shell:
        chdir: '{{ zuul.project.src_dir }}'
        executable: /bin/bash
        cmd: |
          set -e
          set -x
          ./tools/contrail_prepare.sh "{{hostvars['controller'].ansible_default_ipv4.address}}"

