- hosts: all
  tasks:
    - name: Install required utilities
      become: yes
      yum:
        name: "{{ item }}"
        state: latest
      with_items:
        - python-pip
        - git
    - name: Remove PyYAML package
      # due to error in PIP: Cannot uninstall 'PyYAML'. It is a distutlis insatlled project
      # and thus we cannot accurately determine which files belong to it
      # which would lead to only a partial uninstall.
      # PyYAML is installed in task: 'Install python packages'
      become: yes
      yum:
        name: PyYAML
        state: removed
    - name: Add docker-ce repository
      become: yes
      shell: |
        yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
      args:
        executable: /bin/bash
    - name: Install docker
      become: yes
      yum:
        name: docker-ce
        state: present
    - name: Start docker daemon
      become: yes
      service:
        name: docker
        state: running
        enabled: yes
    - name: Install python packages
      become: yes
      pip:
        name: PyYAML
        state: present
        extra_args: --ignore-installed
    - name: Install Ansible
      become: yes
      yum:
        name: ansible-2.4.*
        state: present
    - name: Clone contrail-ansible-deployer repository
      git:
        clone: yes
        force: yes
        dest: ~/contrail-ansible-deployer
        repo: https://github.com/Juniper/contrail-ansible-deployer.git
    - name: Update hosts file
      template:
        src: hosts.j2
        dest: ~/contrail-ansible-deployer/inventory/hosts
    - name: Update instances.yaml file
      template:
        src: instances.yaml.j2
        dest: ~/contrail-ansible-deployer/config/instances.yaml
    - name: Create ssh key and add to authorized_key for OpenContrail installation
      shell: |
        set -e
        set -x
        yes | ssh-keygen -t rsa -N '' -f ~/.ssh/contrail_rsa
        cat ~/.ssh/contrail_rsa.pub | tee --append ~/.ssh/authorized_keys
        chmod 700 ~/.ssh
        chmod 600 ~/.ssh/contrail_rsa ~/.ssh/authorized_keys
      args:
        executable: /bin/bash
    - name: Configure instance before OpenContrail installation
      shell: |
        set -e
        set -x
        sudo ansible-playbook -vv \
                              -e skip_openstack=true \
                              -e orchestrator=none \
                              -e config_file=/home/zuul/contrail-ansible-deployer/config/instances.yaml \
                              -i ~/contrail-ansible-deployer/inventory/ \
                              ~/contrail-ansible-deployer/playbooks/configure_instances.yml
      args:
        executable: /bin/bash
    - name: Install OpenContrail
      retries: 2
      delay: 5
      shell: |
        set -e
        set -x
        sudo ansible-playbook -vv \
                              -e skip_openstack=true \
                              -e '{"CREATE_CONTAINERS":true}' \
                              -e orchestrator=none \
                              -e config_file=/home/zuul/contrail-ansible-deployer/config/instances.yaml \
                              -i ~/contrail-ansible-deployer/inventory/ \
                              ~/contrail-ansible-deployer/playbooks/install_contrail.yml
      args:
        executable: /bin/bash
    - name: Wait for contrail until fully running
      wait_for:
        sleep: 5
        host: "{{ hostvars['controller'].ansible_default_ipv4.address }}"
        port: 8082
        timeout: 300
    - set_fact:
      devstack_base_dir: /opt/stack
      when: devstack_base_dir is not defined
    - name: Execute integration testing
      # /usr/sbin has been added to path as workaround to problem with
      # "ip: command not found error."
      shell: |
        export CONTROLLER_IP={{ hostvars['controller'].ansible_default_ipv4.address }}
        source /opt/stack/devstack/openrc admin
        tox -e integration -vv
      args:
        chdir: "{{ zuul.project.src_dir }}"
        executable: /bin/bash
