[[local|localrc]]
DEST=/opt/stack

HOST_IP='{{ openstack_ip }}'
SERVICE_HOST=$HOST_IP
MULTI_HOST=False

LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=1

ADMIN_PASSWORD=admin
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

USE_BRANCH={{ openstack_branch }}

NOVA_BRANCH=$USE_BRANCH
CINDER_BRANCH=$USE_BRANCH
GLANCE_BRANCH=$USE_BRANCH
HORIZON_BRANCH=$USE_BRANCH
KEYSTONE_BRANCH=$USE_BRANCH
NEUTRON_BRANCH=$USE_BRANCH

LOG_COLOR=True
USE_SCREEN=True

disable_service n-net c-sch c-api c-vol dstat tempest

NEUTRON_CREATE_INITIAL_NETWORKS=False

Q_USE_SECGROUP=True
Q_PLUGIN=ml2

ML2_L3_PLUGIN=opencontrail-router

OPENCONTRAIL_APISERVER_IP='{{ contrail_ip }}'
OPENCONTRAIL_APISERVER_PORT=8082

NOVNCPROXY_URL="http://{{ hostvars['controller'].ansible_host }}:6080/vnc_auto.html"

enable_plugin networking-opencontrail https://git.openstack.org/openstack/networking-opencontrail $USE_BRANCH

PHYSICAL_NETWORK=vhost
TENANT_VLAN_RANGE=1:4094
Q_ML2_TENANT_NETWORK_TYPE=vlan
Q_ML2_PLUGIN_MECHANISM_DRIVERS=opencontrail

[[post-config|$NEUTRON_CORE_PLUGIN_CONF]]
[ml2]
type_drivers = local,vlan,gre
tenant_network_types = local,vlan
mechanism_drivers = opencontrail
extension_drivers = port_security
