localhost:
  hosts:
    localhost:
      config_file: /home/zuul/contrail-ansible-deployer/config/instances.yaml
      connection: local
      ansible_connection: local
      python_interpreter: python
      ansible_python_interpreter: python
container_hosts:
  hosts:
    {{ hostvars['controller'].ansible_default_ipv4.address }}:
