provider_config:
  bms:
    ssh_user: zuul
    ssh_public_key: "/home/zuul/.ssh/contrail_rsa.pub"
    ssh_private_key: "/home/zuul/.ssh/contrail_rsa"
    ntpserver: 0.pool.ntp.org
    nameserver: 8.8.8.8

instances:
  bms1:
    provider: bms
    ip: "{{hostvars['controller'].ansible_default_ipv4.address}}"
    roles:
      config_database:
      config:
      control:
      vrouter:

global_configuration:
  CONTAINER_REGISTRY: opencontrailnightly

contrail_configuration:
  CONTRAIL_VERSION: latest
  LOG_LEVEL: SYS_DEBUG
  CLOUD_ORCHESTRATOR: none
  DEFAULT_LOCAL_IP: "{{hostvars['controller'].ansible_default_ipv4.address}}"
  DEFAULT_IFACE: "{{hostvars['controller'].ansible_default_ipv4.interface}}"
  PHYSICAL_INTERFACE: "{{ hostvars['controller'].ansible_default_ipv4.interface }}"
  VROUTER_GATEWAY: "{{ hostvars['controller'].ansible_default_ipv4.gateway }}"
  CONTROLLER_NODES: "{{ hostvars['controller'].ansible_default_ipv4.address }}"
  CONTROL_NODES: "{{ hostvars['controller'].ansible_default_ipv4.address }}"
  AAA_MODE: no-auth
  AUTH_MODE: keystone
  KEYSTONE_AUTH_ADMIN_PASSWORD: admin
  KEYSTONE_AUTH_HOST: "{{hostvars['controller'].ansible_default_ipv4.address}}"
  KEYSTONE_AUTH_URL_VERSION: "/v3"
  RABBITMQ_NODE_PORT: 5673
  CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: 2
  JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
