provider_config:
  bms:
    ssh_user: zuul
    ssh_public_key: "/home/zuul/.ssh/contrail_rsa.pub"
    ssh_private_key: "/home/zuul/.ssh/contrail_rsa"
    ntpserver: 0.pool.ntp.org
    nameserer: 8.8.8.8

instances:
  bms1:
    provider: bms
    ip: "{{hostvars['controller'].ansible_default_ipv4.address}}"
    roles:
      config_database:
      config:
      control:
      vrouter:
      openstack_network:
      openstack_compute:

global_configuration:
  CONTAINER_REGISTRY: opencontrailnightly

contrail_configuration:
  CONTRAIL_VERSION: latest
  UPGRADE_KERNEL: true
  DEFAULT_LOCAL_IP: "{{hostvars['controller'].ansible_default_ipv4.address}}"
  DEFAULT_IFACE: "{{hostvars['controller'].ansible_default_ipv4.interface}}"
  AAA_MODE: no-auth
  AUTH_MODE: keystone
  VROUTER_GATEWAY: ${DEFAULT_LOCAL_IP}
  KEYSTONE_AUTH_ADMIN_PASSWORD: admin
  KEYSTONE_AUTH_HOST: ${DEFAULT_LOCAL_IP}
  KEYSTONE_AUTH_URL_VERSION: /identity/v3
  KEYSTONE_AUTH_URL_TOKENS: /identity/v3/auth/tokens
  KEYSTONE_AUTH_INSECURE: true
  KEYSTONE_AUTH_ADMIN_PORT: 80
  KEYSTONE_AUTH_PUBLIC_PORT: 80
  RABBITMQ_NODE_PORT: 5673
  CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: 2
  JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
