provider_config:
  bms:
    ssh_user: centos
    ssh_public_key: ~/.ssh/centos_rsa.pub
    ssh_private_key: ~/.ssh/centos_rsa
    ntpserver: 0.pool.ntp.org
    nameserer: 8.8.8.8

instances:
  bms1:
    provider: bms
    ip: {{ contrail_ip }}
    roles:
      config_database:
      config:
      control:
      webui:
      vrouter:
      openstack:
      openstack_compute:

global_configuration:
  CONTAINER_REGISTRY: opencontrailnightly

contrail_configuration:
  CONTRAIL_VERSION: {{ contrail_version }}
  CLOUD_ORCHESTRATOR: None
  LOG_LEVEL: SYS_DEBUG
  AAA_MODE: no-auth
  VROUTER_GATEWAY: {{ contrail_gateway }}
  PHYSICAL_INTERFACE: {{ contrail_interface }}
  AUTH_MODE: keystone
  KEYSTONE_AUTH_ADMIN_PASSWORD: admin
  KEYSTONE_AUTH_HOST: {{ openstack_ip }}
  KEYSTONE_AUTH_URL_VERSION: /identity/v3
  KEYSTONE_AUTH_URL_TOKENS: /identity/v3/auth/tokens
  KEYSTONE_AUTH_INSECURE: true
  KEYSTONE_AUTH_ADMIN_PORT: 80
  KEYSTONE_AUTH_PUBLIC_PORT: 80
  RABBITMQ_NODE_PORT: 5673
  UPDATE_IMAGES: true
  UPGRADE_KERNEL: true
  CONTROLLER_NODES: {{ contrail_ip }}
  CONTROL_NODES: {{ contrail_ip }}
  WEBUI_NODES: {{ contrail_ip }}
  CONFIGDB_NODES: {{ contrail_ip }}
  CONFIG_NODES: {{ contrail_ip }}
  CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: 2
  DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: 2
  JVM_EXTRA_OPTS: "-Xms1g -Xmx2g"
