[[local|localrc]]
SERVICE_TOKEN={{ service_token }}
HOST_IP={{ openstack_ip }}
SERVICE_HOST=$HOST_IP
MULTI_HOST={{ multihost }}
LOGFILE=/opt/stack/logs/stack.sh.log
LOGDAYS=1
ADMIN_PASSWORD={{ admin_pass }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

#Newton Branches
NOVA_BRANCH={{ openstack_branch }}
CINDER_BRANCH={{ openstack_branch }}
GLANCE_BRANCH={{ openstack_branch }}
HORIZON_BRANCH={{ openstack_branch }}
KEYSTONE_BRANCH={{ openstack_branch }}
NEUTRON_BRANCH={{ openstack_branch }}

LOG_COLOR=True
#USE_SCREEN=True
disable_service n-net n-cpu c-sch c-api c-vol q-dhcp q-agt q-l3 dstat tempest

NEUTRON_CREATE_INITIAL_NETWORKS={{ create_initial_networks }}
Q_USE_SECGROUP=True
Q_PLUGIN=ml2
CONTRAIL_DRIVER_CONTROLLER='{{ contrail_ip }}'
CONTRAIL_DRIVER_PORT={{ contrail_port }}
enable_plugin contrail-mechanism-driver https://github.com/openstack/networking-opencontrail
