[[local|localrc]]
DEST=/opt/stack

HOST_IP={{ contrail_ip }}
SERVICE_HOST={{ openstack_ip }}
MULTI_HOST=1

LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=1

ADMIN_PASSWORD=admin
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

USE_BRANCH={{ openstack_branch }}

NOVA_BRANCH=$USE_BRANCH
CINDER_BRANCH=$USE_BRANCH
GLANCE_BRANCH=$USE_BRANCH
HORIZON_BRANCH=$USE_BRANCH
KEYSTONE_BRANCH=$USE_BRANCH
NEUTRON_BRANCH=$USE_BRANCH

MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
ENABLED_SERVICES=n-cpu,q-agt,n-api-meta,placement-client,q-dhcp

NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://$SERVICE_HOST:6080/vnc_auto.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN

LOG_COLOR=True
USE_SCREEN=True